.title {
  color: #FFF;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

body {
  background: linear-gradient(to bottom, rgb(30, 50, 100), rgb(3, 5, 11) 85%);
}

.box {
  padding: 20px;
  display: flex;
  flex-flow: wrap;
}

.box .card{
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
}